body {
  font-family: Arial;
  background: #050b1a;
  color: white;
  text-align: center;
}

.room {
  display: none;
  padding: 20px;
}

.room.active {
  display: block;
}

button {
  margin: 8px;
  padding: 10px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #334155;
}

#inventoryBox {
  background: #0b1220;
  padding: 10px;
  margin: 10px;
}

#popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #111827;
  padding: 15px;
  border-radius: 10px;
  display: none;
}
